---
  BasedOnStyle: Google
  AccessModifierOffset: '-4'
  AlignAfterOpenBracket: 'Align'
  AlignTrailingComments: 'true'
  AllowAllParametersOfDeclarationOnNextLine: 'false'
  AllowShortFunctionsOnASingleLine: 'None'
  AlwaysBreakTemplateDeclarations: 'No'
  BreakBeforeBraces: 'Allman'
  BreakBeforeBinaryOperators: All
  BreakBeforeTernaryOperators: 'true'
  BreakConstructorInitializers: 'BeforeComma'
  ColumnLimit: '100'
  IncludeBlocks: Preserve
  IndentPPDirectives: AfterHash
  IndentWidth: '4'
  NamespaceIndentation: None
  PackConstructorInitializers: 'Never'
...
