[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "dependencies/tileson"]
	path = dependencies/tileson
	url = https://github.com/SSBMTonberry/tileson.git
