[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "dependencies/tileson"]
	path = dependencies/tileson
	url = https://github.com/SSBMTonberry/tileson.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = git@github.com:nlohmann/json.git
